.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #579AF6;
    border-radius: 5px 0px 5px 0px;
    color: white;
}
.password-field {
    position: relative;
}

.password-field i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.pw_hide {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}