{% extends 'base.html.twig' %}

{% block title %}Tableau de bord / statistique globales{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
<header>
    <h1 class="text-center p-3 text-white">Tableau de bord</h1>
</header>
<div class="dashboard-container">
    <aside class="sidebar">
        <ul>
            <li>Statistiques globales</li>
            <li>Commandes récentes</li>
            <li>Commandes en cours</li>
            <li>Stock actuel</li>
            <li>Points de vente actifs</li>
        </ul>
    </aside>
    <main class="main-content">
        <h2 class="text-center">Statistiques globales<h2>
    </main>
</div>
{% endblock %}
